* {
    margin: 0;
    padding: 0;
}

.img-nav {
    margin-right: 1em;
}

body {
    color: green;
}


#vid iframe {
    max-width: 100%;
}

#video{
	margin-top: 105px;
}

.calendar {
    width: 90%;
    margin: auto;
}

.carousel-control-prev-icon{
 	color: black;
 }


 a, a:hover, .a:hover {
    text-decoration: none !important;
}


 @media only screen and (max-width: 769px) {
    .cont-header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 0.5em;
    }
    .form-header {
        justify-content: center;
        align-items: center;
    }
    .input-header {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    #video{
	margin-top: 15px;
    }
}

@media only screen and(max-width: 375px) {
    .cont-header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 0.5em;
    }
    .form-header {
        justify-content: center;
        align-items: center;
    }
    .input-header {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    #video{
	margin-top: 15px;
}

}

@media only screen and (max-width: 425px) {
    .cont-header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 0.5em;
    }
    .form-header {
        justify-content: center;
        align-items: center;
    }
    .input-header {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    #video{
	margin-top: 15px;
    }
}

@media only screen and (max-width: 320px) {
    .cont-header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 0.5em;
    }
    .form-header {
        justify-content: center;
        align-items: center;
    }
    .input-header {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    #video{
	margin-top: 15px;
    }
}
