.img-nav {
    margin-right: 1em;
}

#botonModal {
    display: none;
    border: 1px solid white;
}

body {
    color: green;
}

a, a:hover, .a:hover {
    text-decoration: none !important;
}

.img-noticias {
    width: 5em;
    height: 10em;
}

#amiel {
    color: white;
    margin-bottom: 1em;
}

#amiel:hover {
    color: rgb(252, 252, 133);
}

.textosmodal {
    color: white;
    font-size: medium;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.texto-footer {
    font-size: small;
    text-align: center;
    padding-top: 1.5em;
}

@media (max-width:425px) {
    #botonModal {
        margin-left: 90px;
    }
}