.img-nav {
    margin-right: 1em;
}

#botonModal{
	display: none;
		border: 1px solid white;
}

body {
    color: green;
}

a, a:hover, .a:hover {
      text-decoration: none !important;
}

.img-noticias{
    width:5em;
    height: 10em;
}

@media (max-width:425px){
	#botonModal{
	margin-left: 90px;
}
}