body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px;
}

a:hover, 
.a:hover {
      text-decoration: none !important;
}
li{
    list-style:none !important;
}

.fotoPerfil{
    width: 70px;
    height: 70px;
}